<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>집집마다: 자취방 만족도 체크리스트</title>
</head>
<body>
<div class = "titlebox">
    <h1>'집집마다' 서비스</h1>
    <i>자취방 만족도 체크리스트 서비스</i>
    <hr>
</div>
<div class = "background">
    <h2>기획 배경</h2>
    <ul>
        <li>자취방을 구할 때 최소 3개, 많게는 10개 이상의 매물을 둘러보는 상황에서 틈틈이 메모하고 정리하기에 불편함이 있음.</li>
        <li>부동산의 특성 상, 이전 거주자의 후기 등을 참고할 수 없기 때문에 스스로 만족할 만한 방을 구하는 데 어려움이 있음.</li>
    </ul>    
</div>
<div class = "purpose">
    <h2>기획 목적</h2>
    <ul>
        <li>기본적으로 자취방이 갖춰야 할 요소를 체크리스트로 제공해 자취 초보로 하여금 보다 더 이상적인 자취방 계약을 돕기 위함.</li>
    </ul>    
</div>
</body>