@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
}
.mainbox {
    width: 610px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    padding: 30px;
    border: 3px solid #ebebeb;
}

.namebox{
    font-style: italic;
    text-align: right;
    font-weight: bold;
}

.position{
    color: gray;
}

h2 {
    font-size: 20px;
    font-weight: lighter;
    border-bottom: 1px solid #ebebeb;
    padding-top: 15px;
    padding-bottom: 20px;
}

.title-text {
    font-weight: bold;
    text-align: left;
    float: left;
}

.year-text {
    font-weight: bold;
    text-align: right;
    float: right;
}

.desc-text {
    color: gray;
}

.subdesc-text {
    color: gray;
    padding-left: 16px;
}
.float-wrap {
    overflow: hidden;
}

.li {   
    list-style-type: square;
}